<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300"><!-- monitorInterval, 每300秒刷新配置 -->
    <properties>
        <property name="LOG_HOME">gateway_logs</property><!-- todo rename-->
        <property name="FILE_NAME">gateway-circuit-breaker</property><!-- todo rename-->
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="breakerFile"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd-HH-mm}-%i.log"><!-- todo set min grain to minute-->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/> <!--todo set larger, e.g. 20 MB-->
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="breakerLog" level="info" additivity="true"><!-- todo set level to warn; set additivity to false-->
            <AppenderRef ref="breakerFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>